<footer class="mt-5 bg-black">
  <div class="container px-4 px-md-3 text-light bg-black">
    <div class="row">
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Link utili</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Servizi</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Rinnovo patente</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Magazine</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Auto più acquistate</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
